In [32]:
#%% Libraries
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

#%% Importing Data
flights_data = pd.read_csv('flights.csv')
flights_data = flights_data[~pd.isna(flights_data)]
print(flights_data.head(10))
weather_data_pd = pd.read_csv('weather.csv')
weather_data_np = weather_data_pd.to_numpy()
print(weather_data_pd)
#%% Pandas Data Filtering/Sorting Question Answering
#use flights_data

   Unnamed: 0  year  month  day  dep_time  dep_delay  arr_time  arr_delay  \
0           1  2013      1    1     517.0        2.0     830.0       11.0
1           2  2013      1    1     533.0        4.0     850.0       20.0
2           3  2013      1    1     542.0        2.0     923.0       33.0
3           4  2013      1    1     544.0       -1.0    1004.0      -18.0
4           5  2013      1    1     554.0       -6.0     812.0      -25.0
5           6  2013      1    1     554.0       -4.0     740.0       12.0
6           7  2013      1    1     555.0       -5.0     913.0       19.0
7           8  2013      1    1     557.0       -3.0     709.0      -14.0
8           9  2013      1    1     557.0       -3.0     838.0       -8.0
9          10  2013      1    1     558.0       -2.0     753.0        8.0

  carrier tailnum  flight origin dest  air_time  distance  hour  minute
0      UA  N14228    1545    EWR  IAH     227.0      1400   5.0    17.0
1      UA  N24211    1714    LGA  IAH     227.0      1416   5.0    33.0
2      AA  N619AA    1141    JFK  MIA     160.0      1089   5.0    42.0
3      B6  N804JB     725    JFK  BQN     183.0      1576   5.0    44.0
4      DL  N668DN     461    LGA  ATL     116.0       762   5.0    54.0
5      UA  N39463    1696    EWR  ORD     150.0       719   5.0    54.0
6      B6  N516JB     507    EWR  FLL     158.0      1065   5.0    55.0
7      EV  N829AS    5708    LGA  IAD      53.0       229   5.0    57.0
8      B6  N593JB      79    JFK  MCO     140.0       944   5.0    57.0
9      AA  N3ALAA     301    LGA  ORD     138.0       733   5.0    58.0
      Unnamed: 0 origin  year  month   day  hour   temp   dewp  humid  \
0              1    EWR  2013    1.0   1.0   0.0  37.04  21.92  53.97
1              2    EWR  2013    1.0   1.0   1.0  37.04  21.92  53.97
2              3    EWR  2013    1.0   1.0   2.0  37.94  21.92  52.09
3              4    EWR  2013    1.0   1.0   3.0  37.94  23.00  54.51
4              5    EWR  2013    1.0   1.0   4.0  37.94  24.08  57.04
...          ...    ...   ...    ...   ...   ...    ...    ...    ...
8714        8715    JFK  2013    9.0   2.0  20.0  75.20  73.40  94.14
8715        8716    JFK  2013   10.0  23.0  10.0  48.92  39.02  68.51
8716        8717    JFK  2013   10.0  23.0  11.0  48.92  39.02  68.51
8717        8718    JFK  2013   12.0  17.0   5.0  26.96  10.94  50.34
8718        8719    LGA  2013    8.0  22.0  22.0  75.92  66.92  73.68

      wind_dir  wind_speed  wind_gust  precip  pressure  visib
0        230.0    10.35702  11.918651     0.0    1013.9   10.0
1        230.0    13.80936  15.891535     0.0    1013.0   10.0
2        230.0    12.65858  14.567241     0.0    1012.6   10.0
3        230.0    13.80936  15.891535     0.0    1012.7   10.0
4        240.0    14.96014  17.215830     0.0    1012.8   10.0
...        ...         ...        ...     ...       ...    ...
8714     200.0     4.60312   5.297178     0.0       NaN    4.0
8715      60.0     4.60312   5.297178     0.0    1008.1   10.0
8716      40.0     4.60312   5.297178     0.0    1008.5   10.0
8717      40.0     4.60312   5.297178     0.0    1023.9   10.0
8718     210.0     8.05546   9.270062     0.0    1011.9   10.0

[8719 rows x 15 columns]

In [172]:
#Question 1 How many flights were there from JFK to SLC? Int
mask = (flights_data.origin == 'JFK') & (flights_data.dest == 'SLC') # create condition for filtering the data
flight_number = len(flights_data[mask]) # count the number
print(f'q_1: The number of flight from JFK to SLC is {flight_number}')

q_1: The number of flight from JFK to SLC is 2113

In [170]:
#Question 2 How many airlines fly to SLC? Should be int
mask2 =flights_data.dest == 'SLC'
flights_data[mask2]
flight_number2 = len(flights_data[mask2]) # count the number
print(f'q_2: The number of flight from JFK to SLC is {flight_number2}')

q_2: The number of flight from JFK to SLC is 2467

In [171]:
#Question 3 What is the average arrival delay for flights to RDU? float
mask3 = flights_data.dest == 'RDU'
meantime = flights_data[mask3]['arr_delay'].mean() #fliter to RDu / slicing arr_delay column / calculate mean time
print(f'q_3: The average arrival delay for flights to RDU is {float(meantime)} hours')

q_3: The average arrival delay for flights to RDU is 10.052380952380952 hours

In [ ]:
#Question 4 What proportion of flights to SEA come from the two NYC airports (LGA and JFK)?  float
mask4 = ((flights_data.origin == 'LGA') | (flights_data.origin == 'JFK')) & (flights_data.dest == 'SEA') # filter only interested information
flights_data[mask4]

count_numerator = flights_data[mask4]['origin'].value_counts(dropna=False) # count all airports NYC to SEA (numerator) 
float_nu = float(count_numerator.loc['JFK'])

count_denominator = flights_data[mask4]['dest'].value_counts(dropna=False) # count the SEA (denominator)
float_de = float(count_denominator['SEA'])

print(f'The proportion of flights to SEA from JFK = {float_nu/float_de} and LGA = {1-(float_nu/float_de)}')

The proportion of flights to SEA from JFK = 1.0 and LGA = 0.0

In [ ]:
#Question 5 Which date has the largest average depature delay? Pd slice with date and float
#please make date a column. Preferred format is 2013/1/1 (y/m/d)

# Create a new 'date' column in the format 'y/m/d'
flights_data['date'] = flights_data.apply(lambda row: f"{row['year']}/{row['month']}/{row['day']}", axis=1)

# Group by 'date' and calculate the average departure delay for each date
avg_dep_delay = flights_data.groupby('date')['dep_delay'].mean().reset_index()
avg_dep_delay.idxmax() # find the index of the largest value
print('q_5: The largest average departure delay is\n', avg_dep_delay.iloc[avg_dep_delay.idxmax()]) # return the index

q_5: The largest average departure delay is
          date  dep_delay
364  2013/9/9   0.794742
180  2013/3/8  83.536921

In [44]:
#Question 6 Which date has the largest average arrival delay? pd slice with date and float

flights_data['date'] = flights_data.apply(lambda row: f"{row['year']}/{row['month']}/{row['day']}", axis=1)
avg_arr_delay = flights_data.groupby('date')['arr_delay'].mean().reset_index()
avg_arr_delay.idxmax()
print('q_6: The largest average arrival delay is\n',avg_arr_delay.iloc[avg_arr_delay.idxmax()])

q_6: The largest average arrival delay is
          date  arr_delay
364  2013/9/9 -11.701417
180  2013/3/8  85.862155

In [54]:
#Question 7 Which flight departing LGA or JFK in 2013 flew the fastest? pd slice with tailnumber and speed
#speed = distance/airtime
flights_ori_7 = (flights_data.origin == 'LGA') | (flights_data.origin == 'JFK')
flights_slice_7 = flights_data[flights_ori_7]
flights_slice_7['speed'] = flights_data['distance'] / flights_data['air_time']
flights_max_speed = pd.DataFrame(flights_data['tailnum'],flights_slice_7['speed']).reset_index() 
flights_max_speed

#  avg_arr_delay = flights_data.groupby('date')['arr_delay'].mean().reset_index()

C:\Users\Victus\AppData\Local\Temp\ipykernel_20956\2907814191.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  flights_slice_7['speed'] = flights_data['distance'] / flights_data['air_time']

           speed tailnum
0       6.237885     NaN
1       6.806250     NaN
2       8.612022     NaN
3       6.568966     NaN
4       4.320755     NaN
...          ...     ...
215936       NaN     NaN
215937       NaN     NaN
215938       NaN     NaN
215939       NaN     NaN
215940       NaN     NaN

[215941 rows x 2 columns]

In [184]:
#Question 8 Replace all nans in the weather pd dataframe with 0s. Pd with no nans
weather_data_pd.fillna('0 ', inplace= True)
weather_data_pd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8719 entries, 0 to 8718
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  8719 non-null   int64
 1   origin      8719 non-null   object
 2   year        8719 non-null   int64
 3   month       8719 non-null   object
 4   day         8719 non-null   object
 5   hour        8719 non-null   object
 6   temp        8719 non-null   object
 7   dewp        8719 non-null   object
 8   humid       8719 non-null   object
 9   wind_dir    8719 non-null   object
 10  wind_speed  8719 non-null   object
 11  wind_gust   8719 non-null   object
 12  precip      8719 non-null   float64
 13  pressure    8719 non-null   object
 14  visib       8719 non-null   float64
dtypes: float64(2), int64(2), object(11)
memory usage: 1021.9+ KB

In [21]:
#%% Numpy Data Filtering/Sorting Question Answering
#Use weather_data_np
#Question 9 How many observations were made in Feburary? Int

# From the weather_pd, month is in third column.
Feb_rows = weather_data_np[weather_data_np[:, 3] == 2.0] # add condition(boolean type) into weather_np
print(Feb_rows)

print(f'q_9: the number of observations were made in Febuary is {len(Feb_rows)}')

[[744 'EWR' 2013 ... 0.0 1006.6 10.0]
 [745 'EWR' 2013 ... 0.0 1007.3 10.0]
 [746 'EWR' 2013 ... 0.0 1008.0 10.0]
 ...
 [1412 'EWR' 2013 ... 0.0 1001.8 10.0]
 [8710 'JFK' 2013 ... 0.0 1016.2 10.0]
 [8711 'JFK' 2013 ... 0.0 1011.2 10.0]]
q_9: the number of observations were made in Febuary is 671

In [28]:
#Question 10 What was the mean for humidity in February? Float
# Humidity is in column index 8.

humi_mean = np.mean(Feb_rows[:,8])
print(f'Mean humidity in Febuary is {round(float(humi_mean), 3)}')

Mean humidity in Febuary is 62.918

In [30]:
#Question 11 What was the std for humidity in February? Float

humi_mean = np.std(Feb_rows[:,8])
print(f'Std of humidity in Febuary is {round(float(humi_mean), 3)}')

Std of humidity in Febuary is 20.337