In [2]:
# 1.Compute the euclidean distance between series (points) p and q, without using a packaged formula.

import pandas as pd
p = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
q = pd.Series([10, 9, 8, 7, 6, 5, 4, 3, 2, 1])

eu_dist = abs(p-q)
print(eu_dist)

0    9
1    7
2    5
3    3
4    1
5    1
6    3
7    5
8    7
9    9
dtype: int64

In [6]:
# 2. Change the order of columns of a dataframe. Interchange columns 'a' and 'c'.

import pandas as pd
import numpy as np
df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))
df = df[['c', 'b', 'a', 'd', 'e']]
print(df)

    c   b   a   d   e
0   2   1   0   3   4
1   7   6   5   8   9
2  12  11  10  13  14
3  17  16  15  18  19

In [40]:
# 3. Change the order of columns of a dataframe.  Create a generic function to interchange two columns, without hardcoding column names.

import pandas as pd
import numpy as np
df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))

def swap(df,col1,col2):
    cols = list(df.columns)
    a,b = cols.index(col1), cols.index(col2)
    cols[a],cols[b] = cols[b],cols[a]
    df = df[cols]
    print(df)

swap(df,'a','c')

    c   b   a   d   e
0   2   1   0   3   4
1   7   6   5   8   9
2  12  11  10  13  14
3  17  16  15  18  19

In [40]:
# 4. Format or suppress scientific notations in a pandas dataframe. Suppress scientific notations like ‘e-03’ in df and print upto 4 numbers after decimal.

df = pd.DataFrame(np.random.random(4)**10, columns=['random'])
pd.options.display.float_format = '{:.4f}'.format
df

   random
0  0.2637
1  0.3258
2  0.0098
3  0.0000

In [ ]:

# 5.Create a new column that contains the row number of nearest column by euclidean distance. Create a new column such that,
#  each row contains the row number of nearest row-record by euclidean distance.
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randint(1,100, 40).reshape(10, -1), columns=list('pqrs'), index=list('abcdefghij'))
distance_df = np.sqrt((df['p']-df['r'])**2+(df['q']-df['s'])**2) # create eulidean distance

df.insert(4,'dist', distance_df) # insert distance_df column to df

nearest_row_indices = [] 
for idx, row in df.iterrows(): 
    del_self = df.drop(idx) # ignore self row
    nearest_dist = abs(del_self['dist']-row['dist']) # calculate the nearest distance
    nearest_row_indices.append(nearest_dist.idxmin()) # find index that nearest to each row

df['nearest_row'] = nearest_row_indices # add the list of column to df
pd.options.display.float_format = '{:.1f}'.format # display 1 decimal

swap(df, 'nearest_row','dist') # swap (from Q3) the column between dist and nearest_row

    p   q   r   s nearest_row  dist
a  30  79  29  91           f  12.0
b  21   8  69  21           i  49.7
c  69  22  75  89           g  67.3
d  26  85  53  55           i  40.4
e   4  92  70   7           j 107.6
f  44  62  43  60           a   2.2
g  19  63  82  17           c  78.0
h  47  20  69  49           d  36.4
i  44  24   1  25           d  43.0
j   1  99  35  13           g  92.5

In [ ]:
# 6.Correlation is a statistical technique that shows how two variables are related. Pandas dataframe.corr() method is used for 
# creating the correlation matrix. It is used to find the pairwise correlation of all columns in the dataframe. Any na values are automatically 
# excluded. For any non-numeric data type columns in the dataframe it is ignored.
data = {'A': [45, 37, 0, 42, 50],
        'B': [38, 31, 1, 26, 90],
        'C': [10, 15, -10, 17, 100],
        'D': [60, 99, 15, 23, 56],
        'E': [76, 98, -0.03, 78, 90]
        }

data_np = pd.DataFrame(data)
data_np.corr()

    A   B   C   D   E
A 1.0 0.8 0.6 0.5 0.9
B 0.8 1.0 1.0 0.4 0.6
C 0.6 1.0 1.0 0.2 0.5
D 0.5 0.4 0.2 1.0 0.7
E 0.9 0.6 0.5 0.7 1.0